//Tablets & Smaller
@media (max-width: 800px) {
#header {
  &-inner {
    ul a[href^="index.html"] {
      color: black;
      font-weight: bolder;
    }
  }
}

  #home {
    &-a {
      p {
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  #about {
    &-a {
      .leaves {
        .story {
          grid-template-columns: 1fr !important;
          grid-template-areas:
            "info"
            "me" 
            "bio" !important;
          line-height: 0.5rem;

          .me {
            font-size: 18px;
            text-align: left;
            position: relative;
            margin: auto !important;
            margin-left: 3rem !important;
            margin-top: 1rem !important;
            padding-top: 1rem !important;
            padding-bottom: 0.5rem !important;
        
          }

          .bio {
            font-size: 18px;
            text-align: left;
            position: relative;
            margin: auto !important;
            margin-top: 1rem !important;
            margin-right: 3rem !important;
            margin-left: 3rem !important;
            padding-top: 1rem !important;
            padding-bottom: 0.5rem !important;
          }
        }
      }
    }

    &-b {
      .mail {
        bottom: 8% !important;
      }
    }
  }

  #main-footer {
    .footer-content {
      .gotopbtn {
        .fas {
          right: 30px !important;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
    line-height: 1rem;

    li {
      padding: 0.5rem;
    }
  }

  #header {
    &-home {
      overflow: visible;
      align-items: center;
      padding-bottom: 0rem;
      background: $bg-image no-repeat 20% 30% / cover;

      .header-content {
        h1 {
         display: none;
        }

        h2 {
          visibility: visible !important;
          font-size: 60px;
        }
      }
    }

    &-inner {
      height: 10rem;
      font-weight: bolder;

      li {
         a[href^="index.html"] {
        visibility: visible;
        color: #fff;
        }
      }

      a[href^="index.html"] :first-child  {
      display: none;
    }
    }
  }

  #home {
    &-a {
      line-height: 1rem;
      height: 100% !important;
      align-items: center;

      p {
        line-height: 2rem;
      }

      .specials {
        grid-template-columns: 1fr !important;
        grid-gap: 0.5rem;
      }


      .specials div {
       border-bottom: 2px $light-color dotted;
       padding-bottom: 0.2rem;

       &:last-child {
         border: none;
         padding-bottom: 0;
       }
      }
    }
  }

  #about {
    &-a {
      .leaves {
        height: 100%;

        .set,
        .set2,
        .set3 {
          visibility: hidden;
        }

        .story {
          visibility: visible;
          display: flex !important;
          flex-direction: column !important;
          line-height: 1.5rem !important;

          .info {
            visibility: hidden !important;
          }

          .me {
            font-size: 18px !important;
            text-align: left;
            position: absolute;
            margin: auto;
            margin-top: 1rem !important;
            margin-left: 3rem !important;
            padding: auto;
          }

          .bio {
            font-size: 18px !important;
            text-align: left;
            position: relative;
            margin: auto;
            margin-right: 3rem !important;
            padding: auto;
          }
        }
      }
    }

    &-b {
      background: url('../img/creative.jpg') no-repeat 20% 20% / cover !important;

      .mail {
        font-size: 18px !important;
        color: $main-color;
        margin: auto !important;
        align-items: center;
        bottom: 3% !important;

        a {
          color: $dark-color;
          font-weight: bolder;
        }
      }
    }
  }

  #wrapper {
    height: 100% !important;
    margin: auto !important;

    .form-container {
      .text-fields {
        grid-template-areas: 
        "name"
        "email"
        "subject"
        "phone"
        "message" !important;

        .message-input {
          width: 80% !important;
        }
      }
    }
  }

  #main-footer {
    height: 7rem !important;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;

      .gotopbtn {
        .fas {
          width: 30px !important;
          height: 30px !important;
          right: 30px !important;
          line-height: 30px !important;
          font-size: 18px !important;
        }
      }
    }
  }
}